/* основний колір тексту #212121 */
/* другорядний колір тексту #757575 */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* основний колір фону #E5E5E5 */
/* другорядний колір фону #2F303A */


:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --primary-background-color: #E5E5E5;
    --second-background-color: #2F303A;
}

body {
    font-family: roboto, sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    outline: 2px solid tomato;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: blueviolet;
}

/* Шапка сайта */

.header {
    background-color: green;
}

.header-logo-link {
    color: #000000;
    text-decoration-line: none;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.web {
   font-family: Raleway, sans-serif;
   font-weight: bold;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: var(--accent-color);
}

.navigation-link {
    text-decoration-line: none;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }

.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color);
}

.navigation-current {
    color: var(--accent-color);
}

.header-contact-link {
    text-decoration-line: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--accent-color);
}

/* Герой */

.hero-title {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    background-color: orange;
}

.hero-btn {
    background: var(--accent-color);
    font-family: inherit;
    min-width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    text-align: center;
    border: 2px solid transparent;
}

.hero-btn:hover,
.hero-btn:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* Наши преимущества */

.feature-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.feature-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* Чем мы занимаемся */

.activity-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
}

/* Наша команда */

.team-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
}

.team-list-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-list-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* Футер */

.footer {
    background-color: var(--second-background-color);
}

.footer-logo-link {
    text-decoration-line: none;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.footer-contact-address {
    text-decoration-line: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.footer-contact-link {
    text-decoration-line: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
    color: var(--accent-color);
}

/* Portfolio */

.portfolio-btn {
    background-color: #F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
    border-radius: 4px;
    padding: 6px 22px;
    border: 2px solid transparent;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-list-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.portfolio-list-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}